@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom styles */
body {
  @apply bg-gray-50 dark:bg-gray-900 text-gray-800 dark:text-gray-100;
  transition: background-color 250ms, color 250ms;
}
